<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>游戏DIY</title>
<meta content='application/xhtml+xml;charset=UTF-8' http-equiv='content-type' />
</head>
<body bgcolor="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
style="color:#b40188;font-weight:bold;">
<table id="Table_01" width="1000" height="500" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img src="/images/index_01.gif" width="1000" height="50" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="/images/index_02.gif" width="602" height="450" alt=""></td>
		<td style="background-image:url(/images/index_03.gif);width:325px;height:83px;" valign="top">
     <%= form_tag session_path  -%>
        <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
            <td>帐号：</td>
            <td><input type="text" name="login" style="width:250px" /></td>
        </tr>
		<tr>
            <td>密码：</td>
            <td><input type="password" name="password" style="width:250px" /></td>
        </tr>
		<tr height="30" valign="bottom">
            <td>
            <input style="font-weight:bold;background:url(/images/button.gif);border:0;width:57px;height:21px;color:#b40188;font-size:12px;" type="submit" value="登陆" />
            </td>
            </form>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<button style="font-weight:bold;background:url(/images/button.gif);border:0;width:57px;height:21px;color:#b40188;font-size:12px;" onClick="window.location.href='/signup';return false;">注册</button></td>
       	</tr>

        </table>

</td>
		<td rowspan="4">
			<img src="/images/index_04.gif" width="73" height="450" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/index_05.gif" width="325" height="87" alt=""></td>
	</tr>
	<tr>
		<td style="background-image:url(/images/index_06.gif);width:325px;height:155px;font-size:12px;" valign="top">
更新历史：<br />
6月4日:修改更新导致的挑战自我的Bug<br />
5月29日:增加聊天功能，我会常时间在线关注<br />
5月28日:增加留言板，希望大家能给我更多的意见<br />
5月28日:制作名字唯一，数据清零，十分抱歉<br />
5月28日:加入宠物系统，它与以后的骑士职业有关联<br />
5月28日:郁闷了一个月继续更新<br />
4月27日:剑世界竞技场可以使用连续剑技了<br />
4月27日:界面做了些许更新<br />
</td>
	</tr>
	<tr>
		<td>
			<img src="/images/index_07.gif" width="325" height="125" alt=""></td>
	</tr>
</table>
</body>
</html>