="生命："+selfstatus[:hp].to_s+"/"+selfstatus[:mhp].to_s+"<br />"
="横斩："+selfstatus[:a].to_s+"<br />"
="重劈："+selfstatus[:b].to_s+"<br />"
="直刺："+selfstatus[:c].to_s+"<br />"
="当前连击：<br />"
=showhits(selfstatus[:hits],"->")+"<br />"