.notice
  %strong 挑战自我说明:
  当自己未受到攻击3次以上，便可获得与所选攻击方式相同的连续剑技，并且还可以对它命名哦。
#swleft.l
  #llabel 自己状态
  #sstatus=render :partial => "selfstatus",:object => @status
#swmid.l
  #flabel 战斗状态
  #fstatus
  #cselect
    =javascript_include_tag :defaults
    -form_remote_tag :url => {:action => :pfightself},:method => :put,:html => {:id => "fightform"} do
      攻击方式：
      %br
      <select name="pa[]">
      <option value="0">横斩</option>
      <option value="1">重劈</option>
      <option value="2">直刺</option>
      </select>
      <select name="pa[]">
      <option value="0">横斩</option>
      <option value="1">重劈</option>
      <option value="2">直刺</option>
      </select>
      <select name="pa[]">
      <option value="0">横斩</option>
      <option value="1">重劈</option>
      <option value="2">直刺</option>
      </select>
      %br
      回避方式：
      %br
      <select name="pb[]">
      <option value="0">下蹲</option>
      <option value="1">突进</option>
      <option value="2">侧身</option>
      </select>
      <select name="pb[]">
      <option value="0">下蹲</option>
      <option value="1">突进</option>
      <option value="2">侧身</option>
      </select>
      <select name="pb[]">
      <option value="0">下蹲</option>
      <option value="1">突进</option>
      <option value="2">侧身</option>
      </select>
      %br
      =submit_tag "行动确定",:id => "btn_submit"#,:onclick =>  "$('fightform').submit();this.disabled=true;return false"
  #notice=flash[:notice]
#swright.l 
  #rlabel 对手状态
  #tstatus=render :partial => "selftstatus",:object => @status