<p>
  <b>Name:</b>
  <%=h @pet.name %>
</p>

<p>
  <b>Basehp:</b>
  <%=h @pet.hp %>
</p>

<p>
  <b>type:</b>
  <%=h @pet.class.human_name %>
</p>

<p>
  <b>Player:</b>
  <%=h @pet.player.name %>
</p>
