<textarea id="player_pet" class="textarea">
  <div id="player_pet_{{= player_pet.id }}">
    <div class="l player_pet_img">
      <img src="/pets/{{=player_pet.pet_id}}.jpg" />
    </div>
    <div class="l player_pet_content">
      宠物名称:{{=player_pet.name}}<br />
      生命值&nbsp;&nbsp;&nbsp;:
      <span id="player_pet_{{=player_pet.id}}_hp">
        {{=player_pet.hp}}/{{=player_pet.basehp}}
      </span><br />
      饱腹度&nbsp;&nbsp;&nbsp;:
      <span id="player_pet_{{=player_pet.id}}_food">
        {{=player_pet.food}}/{{=player_pet.hp}}
      </span><br />
      快乐度&nbsp;&nbsp;&nbsp;:
      <span id="player_pet_{{=player_pet.id}}_happy">
        {{=player_pet.happy}}/{{=player_pet.hp}}
      </span><br />
      宠物状态:
      <span id="player_pet_{{=player_pet.id}}_msg"></span><br />
      合成选择:<input type="checkbox" value="{{=player_pet.id}}" class="pets_selects"><br />
      <a href="/player_pets/{{=player_pet.id}}/feed" class="ajaxlink" ajaxmethod="POST">喂食</a><br />
      <a href="/player_pets/{{=player_pet.id}}/play" class="ajaxlink" ajaxmethod="POST">逗弄</a>
    </div>
  </div>
</textarea>

