<div class="notice">
  <strong>宠物养成说明:</strong>
  宠物hp成长最高为基础生命值的2倍，必须融合才能继续成长。
</div>
<div class="notice">
  <strong>宠物养成说明:</strong>
  宠物《饱腹度》《快乐度》每小时降低2%，跌到0点以下则会逃跑。
</div>
<% if @pet_game.could_adopt? %>
<div class="notice">
  <a href="/player_pets/new" class="notice_close" style="font-weight: bold; color: rgb(0, 94, 172); text-decoration: none;">领养宠物</a>
  <strong>领养宠物:</strong>
  你还没有宠物，赶快领养一只吧！
</div>
<% end %>

