<%= render :partial => 'notice', :locale => @pet_game %>
<div id="player_pets">
</div>
<%= link_to_function "融合","Pet.mix()",:id => 'player_pet_mix' %>
<%=
    link_to "领养",{:action => :new},:id => 'player_pet_adopt' #if @pet_game.could_adopt? 
%>
<div id="test"></div>
<script>

  $(document).ready(function(){
    Pet.init(<%=@player_pets_json %>);
    $('a.ajaxlink').ajaxRequest();
  })

</script>
