-@plugins.each do |plugin|
  .plugin{:id=>plugin}
    %div{:style=>"margin:10px 0;clear:both;min-height:60px;"}  
      .l= plugin.name
      %br
      .l= plugin.description
      .r
        - form_for :pluginmanage, @pluginmanage, :url => { :action => "create" } do |form|
          = form.hidden_field :plugin_id,:value => plugin.id
          = form.submit "添加"