!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @title || "游戏DIY"
    %meta{'http-equiv' => "content-type",:content=>"application/xhtml+xml;charset=UTF-8"}
    = stylesheet_link_tag "css", :cache => true
  %body
    #container
      #left
        <div id="sidebar">
        <div class="sidebar-top"/>
        <div class="app-list">
        <ul class="border-b">
        <li class="itemblog" id="app-list-blog"><a href="http://blog.kaixin.com/BlogHome.do" class="short">日志</a><a class="shortcutkey" href="http://blog.kaixin.com/NewEntry.do">发表</a></li>
        <li class="itemalbum" id="app-list-album"><a href="http://photo.kaixin.com/" class="short">相册</a><a class="shortcutkey" href="http://photo.kaixin.com/choosealbum.do">上传</a></li>
        <li class="itemshare"><a href="http://share.kaixin.com/share/ShareList.do" class="short">分享</a></li>
        <li class="itemstate"><a href="http://status.kaixin.com" class="short">状态</a></li>
        <li class="itemgift"><a href="http://gift.kaixin.com/" class="short">礼物</a></li>
        <li class="clipline"/>
        <li><a style="background-image: url(http://rrimg.com/imgpro/app/kxapp1.png); background-position: 9px -459px;" href="http://apps.kaixin.com/farmgame/index.php">开心农场</a></li>
        <li><a style="background-image: url(http://rrimg.com/imgpro/app/kxapp1.png); background-position: 9px 9px;" href="http://carpark.kaixin.com">抢车位</a></li>
        <li><a style="background-image: url(http://rrimg.com/imgpro/app/kxapp1.png); background-position: 9px -63px;" href="http://dog.kaixin.com">狗狗</a></li>
        <li><a style="background-image: url(http://rrimg.com/imgpro/app/kxapp1.png); background-position: 9px -27px;" href="http://tycoon.kaixin.com/">超级大亨</a></li>
        <li><a style="background-image: url(http://rrimg.com/imgpro/app/kxapp1.png); background-position: 9px -279px;" href="http://gf.kaixin.com">教父</a></li>
        <li><a style="background-image: url(http://rrimg.com/imgpro/app/kxapp1.png); background-position: 9px -567px;" href="http://kick.kaixin.com/index.do">踢屁屁</a></li>
        <li style="display: none;"><a style="background-image: url(http://rrimg.com/imgpro/icons/24/renicon_gift_24.gif);" href="http://gift.kaixin.com/" class="short">礼物</a></li>
        </ul>
        <ul class="activelist">
        <li><a href="http://app.kaixin.com/apps/apps.do" class="addapp">添加或删除应用</a></li>
        </ul>
        </div>
        </div>
        -Plugin.find([1,4,7,10]).each do |plugin|
          %a{:href => plugin.url,:title => plugin.description}=plugin.name
          %br
          -plugin.plugins.each do |p|
            %a{:href => p.url,:title => p.description,:style => "margin-left:10px"}=p.name
            %br
          %br
        %hr
        -if session[:user_id]
          %p
            %a{:href => "/myhome"} 最近状态
          %p
            %a{:href=>"/players"} 我的状态
          %p
            %a{:href => "/mails"}
              我的邮件
              =#"(#{current_player.count_new_mail}条新消息)" unless current_player.count_new_mail == 0
          %p
            %a{:href=>"/pluginmanages/new"} 添加游戏
          %p
            %a{:href=>"/pluginmanages"} 游戏管理
      #right
        #rightheader
          .r
            %a{:href=>"/invent"} 邀请
            %a{:href=>"/logout"} 登出
        #rightcontain
          -if flash[:notice]
            #notice=flash[:notice]
          =@content_for_layout
      #footer